@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

/***************************/
/* CSS VARIABLES  */
/***************************/

:root {
  --main-font-color: #fff;
  --main-bg-color: #000;
  --browse-home-bg-color: #141414;
  --browse-home-font-color: #808080;
  --brand-color: #e50914;
  --brand-color-darker: #a0060e;
  --login-notification-color: #e87c03;
  --login-more-info-color: #0071eb;
  --white-darker-1: #e5e5e5;
  --white-darker-2: #b3b3b3;
  --white-darker-3: #a0a0a0;
  --grey: #333;
  --grey-lighter-1: #8c8c8c;
  --grey-lighter-2: #737373;
  --grey-lighter-3: #999;
  --lower-border-radius: 2px;
  --default-border-radius: 4px;
  --higher-border-radius: 6px;
}

/***************************/
/* GENERAL STYLES  */
/***************************/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus-visible {
  z-index: 1000;
  outline: none;
  outline-style: solid;
  outline-width: 0.2rem;
  outline-offset: 0.2rem;
  outline-color: #fff;
  border-radius: var(--default-border-radius);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  line-height: 1;
  font-weight: 400;
  overflow-x: hidden;
}

button,
input,
optgroup,
select,
textarea,
a {
  color: inherit;
  background-color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  border: none;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 3rem rgba(70, 90, 126, 0.4) inset !important;
}

input:-webkit-autofill {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: var(--main-font-color) !important;
}

/* Default button styles */
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--brand-color);
  border: none;
  border-radius: var(--default-border-radius);
}

.btn:hover {
  cursor: pointer;
}

.btn:active {
  background-color: var(--brand-color-darker);
}

/***************************/
/* HELPER CLASSES  */
/***************************/

.hidden {
  display: none !important;
}

.hidden-2 {
  opacity: 0 !important;
  visibility: hidden !important;
}

.active {
  opacity: 1 !important;
  visibility: visible !important;
}
