/***************************/
/* HEADER SECTION  */
/***************************/

.header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  height: 6.8rem;
  width: 100%;
  padding: 0 4%;
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: background-color 1s;
  z-index: 3;
}

.header.sticky {
  background-color: #141414;
  transition: background-color 0.2s;
}

.primary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.8rem;
}

.primary-nav-logo {
  height: 3rem;
}

.primary-nav-browse,
.primary-nav-arrow-down {
  display: none;
}

.primary-nav-items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.primary-nav-arrow-up {
  display: none;
}

.primary-nav-item {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.3;
  color: #e5e5e5;
  transition: color 0.3s;
}

.primary-nav-item:hover {
  color: #a0a0a0;
}

.primary-nav-item .current-active {
  font-weight: 600;
  color: #fff;
  cursor: default;
  pointer-events: none;
}

.secondary-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.secondary-nav-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.search-container {
  position: relative;
  height: 3.6rem;
  background-color: #000;
  border: 0.1rem solid #fff;
  cursor: default;
  overflow: hidden;
}

.search-btn {
  cursor: pointer;
}

.search-btn-absolute {
  position: absolute;
  left: 0.8rem;
  top: 50%;
  transform: translateY(-50%);
}

.search-label {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 4rem;
  transform: translateY(-50%);
  color: #b3b3b3;
  white-space: nowrap;
}

.search-input {
  height: 100%;
  width: 0;
  padding: 0;
  transition: width 250ms, padding 250ms;
}

.search-input.expanded {
  width: 27rem;
  padding: 0 4rem;
}

.search-input:focus {
  outline: 0;
}

.search-close {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
}

.search-close-icon {
  font-size: 2.6rem;
  --ionicon-stroke-width: 5rem;
}

.search-icon,
.notifications-icon {
  font-size: 2.2rem;
  --ionicon-stroke-width: 4rem;
}

.profile-arrow-up-notification {
  position: absolute;
  top: 3.2rem;
  font-size: 2rem;
  color: #e6e6e6;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 150ms;
}

.notifications-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 4.8rem;
  right: 0;
  min-height: 11.6rem;
  width: 41rem;
  height: auto;
  background-color: rgba(0, 0, 0, 0.85);
  cursor: default;
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  border-top: 0.2rem solid #e5e5e5;
  border-bottom: 0.1rem solid rgba(255, 255, 255, 0.25);
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 150ms;
}

.notifications-container:hover {
  background-color: #000;
}

.notifications-text {
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.3;
  color: #6d6d6d;
}

.profile-logo {
  position: relative;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: var(--default-border-radius);
}

.profile-arrow-down {
  color: #e6e6e6;
  transition: transform 367ms cubic-bezier(0.21, 0, 0.07, 1);
}

.profile-arrow-up {
  position: absolute;
  top: 3.6rem;
  left: 0.5rem;
  font-size: 2rem;
  color: #e6e6e6;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 150ms;
}

.profile-drop-down {
  position: absolute;
  top: 5.2rem;
  right: 0;
  width: 22rem;
  height: 38rem;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.1rem solid rgba(255, 255, 255, 0.15);
  cursor: default;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms, visibility 150ms;
}

.profiles-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  padding: 1.8rem 1.2rem 1.2rem;
}

.profiles-managment-list {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 0 1.2rem 1.2rem;
}

.profile,
.profile-managment {
  list-style: none;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: fit-content;
}

.profile-link:hover .profile-item {
  border-bottom: 0.1rem solid currentColor;
}

.profile-item {
  border-bottom: 0.1rem solid transparent;
}

.profile-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
}

.profile-icon {
  font-size: 2.4rem;
  color: #b3b3b3;
}

.profile-logout {
  text-align: center;
  padding-top: 1.3rem;
  border-top: 0.1rem solid rgba(255, 255, 255, 0.25);
}

.profile-logout-link:hover {
  border-bottom: 0.1rem solid currentColor;
}

/***************************/
/* HEADER RESPONSIVE  */
/***************************/

/* 1200px */
@media (max-width: 75em) {
  .primary-nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
  }

  .primary-nav-browse,
  .primary-nav-arrow-down {
    display: block;
    font-size: 1.4rem;
  }

  .primary-nav-arrow-up {
    display: block;
    position: absolute;
    top: -1.7rem;
    font-size: 1.8rem;
  }

  .primary-nav-items {
    position: absolute;
    flex-direction: column;
    gap: 0;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: 2px solid #e5e5e5;
    left: 4vw;
    top: 100%;
    width: 30rem;
    height: auto;
    opacity: 0;
    visibility: hidden;
    transition: opacity 150ms, visibility 150ms;
  }

  .primary-nav-item {
    width: 100%;
    color: #b3b3b3;
    transition: background-color 0.3s;
  }

  .primary-nav-link {
    display: inline-block;
    padding: 2rem;
    width: 100%;
  }

  .primary-nav-item:hover {
    color: #b3b3b3;
    background-color: rgba(255, 255, 255, 0.03);
  }
}

@media (max-width: 62.5em) {
  .header {
    height: 4.8rem;
    background-color: #141414;

    /* Main-view is hidden at this state (1000px) so header has to be visible */
    visibility: visible;
  }
}

/* 800px */
@media (max-width: 50em) {
  .secondary-nav-item.search {
    position: absolute;
    right: 4vw;
    z-index: 1;
  }
}

/* 550px */
@media (max-width: 34.375em) {
  .primary-navigation,
  .secondary-navigation {
    gap: 1.6rem;
  }

  .primary-nav-logo {
    height: 2rem;
  }

  .primary-nav-arrow-down,
  .profile-arrow-down {
    display: none;
  }

  .search-input.expanded {
    width: 19rem;
  }

  #secondary-nav-item-search,
  #secondary-nav-item-kids {
    display: none;
  }

  .notifications-container {
    max-width: 30rem;
  }
}

/* 400px */
@media (max-width: 25em) {
  .primary-nav-items {
    width: 24rem;
  }

  .notifications-container {
    max-width: 22rem;
    right: -14vw;
  }
}

/* 260px */
@media (max-width: 16.25em) {
  html {
    font-size: 56.25%;
  }

  .primary-navigation,
  .secondary-navigation {
    gap: 0.8rem;
  }

  .primary-nav-items {
    width: 22rem;
  }

  .primary-nav-link {
    padding: 1.6rem;
  }
}
